.promotion_details {
  background-color: white;
  padding: 37px;
}

.promo_label {
  margin-bottom: 10px;
  font-weight: 500;
}

.save-btn {
  height: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.description_box {
  margin-left: 10px;
  width: 98%;
}

.promo_tier {
  gap: 10px;
  margin: 10px 0;
}

.promo_state {
  margin-right: 25px;
}

.react-datepicker-popper{
  z-index: 2 !important;
}